* {
    box-sizing: border-box;
    margin: 0px ;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;


}
body{
    background-color: #F9E795;
}

/* nav{
    position: fixed;
    background-color: #252525;
    height: 80px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
 
    margin: auto;
   
}
ul{
    list-style-type: none;
    display: flex;
}

@media screen and (max-width: 800px) {
  
    .logo{
        text-align: center;
      

    }
    .nav-items{
    
        text-align: center;
       

    }
    
}

.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    
} */

/* nav a:hover {
    color: azure;

} */
/* section{
    background-color: aqua;
    width: 100%;
    height: 400px;
} */

#Home{
    background-color: lightcoral;
    width: 100%;
    height: auto;
    display: flex;
   /* padding-top: 20px !important; */
}
#Home .image{
    width: 40%;
    height: 500px;
    padding-top: 20px;
    padding-left: 13px;
   
}
.img{
    
    height: 450px;
    width: 90%;
    padding: 2px;
    border: 2px solid black;
    border-radius: 50%;

}
#Home .data{
    width: 60%;
    text-align: left;
    /* background-color: antiquewhite; */
    margin: auto;
    font-size: large;
    /* padding: 5px; */
    /* write two lines for myself in first para my name and my age and my qualification
    in second para write about my coding interest
    in third para write about my hobbies */
}
@media screen and (max-width:800px) {
  #Home{
    display: block;
    height: auto;
  }
    #Home .image{
        display: block;
        width: 100%;
        text-align: center;
    }
    #Home .data{
        font-size: 24px;
        margin: auto;
        /* text-align: center; */
        padding: 0px;
        width: 90%;
    }
    .img{
        border-radius: 8px;
        border: 5px solid black;
    
    }
    
    
}

#About{
    /* background-color: wheat; */
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
 
}

.card {
    margin: 15px;
    border: 1px solid black;
    width: 32%;
    border-radius: 8px;
    /* text-align: center; */
    height: 400px;
    padding: 15px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold; 
    background-color: light;
    
 
    
    
}
.card:hover{
    box-shadow: 10px 10px #252525;
}
@media  screen and (max-width:800px){
    #About{
        display: block;

        text-align: center;
        width: 100%;
        height: auto;

    }
    .card{
        /* display: flex; */
        height: auto;
        width: 100%;
        margin: 2px;
        margin-bottom: 5px;


    }
    
}

#Education{
    /* background-color: darkseagreen; */
    width: 100%;
    height: 500px;
}



#Skill{
    padding: 10px;
    /* background-color: wheat; */
    font-size: large;
    font-weight: bolder;
    
    margin: 2px;
    
}

.container {
    width: 100%;
    background-color: #ddd;
    display: flex;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  
  
  .html {width: 85%; background-color: #04AA6D;}
  .css {width: 70%; background-color: #04AA6D;}
  .C-programming {width: 75%; background-color: #04AA6D;}
  .Python {width: 70%; background-color: #04AA6D;}

footer{
    background-color: bisque;
    color: black;
    justify-content: space-between;
    
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    
    
}
i{
    font-size: 30px;
    color: darkred;
    padding:0px 5px 0px 5px;
}