body{
    border: 3px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: coral;
}

.container {
    border: 3px soild blueviolet;
    padding: 20px;
<<<<<<< HEAD
    max-width: 500px;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#qrCode {
    margin-top: 20px;
}
=======
    max-width: 400px;
    margin: 0 auto;
}
>>>>>>> bf8f0792f8b36a049b232d4c459dcb6ad78bd226
