body{
    border: 3px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: coral;
}

.container {
    border: 3px soild blueviolet;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}
